@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    font-family: "Stack Sans Text", sans-serif;
    
}

body{
    margin: 0;
  background: radial-gradient(circle at top, #0a0f2c, #000);
  min-height: 100vh;
}

.nav1 {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 0 150px;
    padding: 0 40px 0 40px;
     animation: fadeUp 2s ease-out forwards;

}

.logo {
    color: white;
    background-image: linear-gradient(to right,#3f35fa,#fdeff9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: movegrad 20s linear infinite;
    background-size: 300% 100%;
    
}

@keyframes movegrad{
    0%{
        background-position: 0% 0%;
    }
    35%{
        background-position: 150%  50%;
    }
    65%{
        background-position: 300% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.link {
    display: flex;
    gap: 60px;
    list-style: none;
     
}

.link li a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    text-shadow: 0px  10px 10px rgb(0, 6, 170);
    
}

.cv {
    height: 50px;
    width: 140px;
    background-image: linear-gradient(to right,#2439b5,#077dc1);
    font-size: 16px;
    color: white;
    border: 1px white solid;
    border-radius: 10px;
    box-shadow: 0 0 30px 5px rgb(3, 0, 163);
}

.logo2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}


.ver {
    height: 30px;
    width: 30px;
    background-image: url(./image/pngegg.png);
    border-radius: 2px;
    margin-right: 10px;
    box-shadow: 0 0 20px 7px rgb(0, 132, 240);
    background-size: contain;  
  background-repeat: no-repeat; 
  background-position: center;
  animation: badg1 5s linear infinite;
  border: 1px solid rgb(0, 68, 255);
  background-color: rgb(0, 51, 255);
  
}

@keyframes badg1 {
    0%{
        box-shadow: 0 0 20px 7px rgb(0, 132, 240)
    }
    50%{
        box-shadow: 0 0 15px 4px rgb(2, 141, 255)
    }
}

.nav2{
    display: flex;
    color: white;
    width: 200vh;
    height: 50vh;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.nav2 h1{
    font-size: 70px;
    text-shadow: 0 0 5px ;
    opacity: 0;
    animation: fadeUp 1s ease-out 0.9s forwards;
}

@keyframes fadeUp{
    0%{
        opacity: 0;
        transform: translateY(-30px)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

.nav2 p {
  justify-content: center;
  display: flex;
  margin-top: -40px;
  overflow: hidden;
  font-size: 60px;
  font-weight: 700;
  background-image: linear-gradient(to right, #1c1cca, #1CB5E0, #1c1cca);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300% 100%;
  animation: text1 6s ease-in-out infinite, fadeUp 1s ease-out 1.2s forwards;
  opacity: 0;
  
}


@keyframes text1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.glow-circle {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(33, 6, 189, 0.6), transparent 70%);
  filter: blur(100px);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: glow1 10s ease infinite;
}

@keyframes glow1{
    0%{
        width: 500px;
        height: 500px;
        background: radial-gradient(circle, rgba(33, 6, 189, 0.6), transparent 70%);
    }
    50%{
        background: radial-gradient(circle, rgba(22, 4, 128, 0.6), transparent 70%);
        width: 700px;
        height: 700px;
    }

    100%{
        width: 400px;
        height: 400px;
        background: radial-gradient(circle, rgba(33, 6, 189, 0.6), transparent 70%);
    }
}

.btnfree{
    height: 50px;
    width: 250px;
    margin-left: 310px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px white;
    opacity: 0;
    animation: fadeUp 1s ease-out 1.5s forwards;
}

.nav3{
    width: 200vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
 .ph{
    width:130vh;
    height: 80vh;
     background-image: url(.//image/cc.png);
     background-size: contain;  
    background-repeat: no-repeat; 
    background-position: center;
    opacity: 0;
    animation: fadeUp 1s ease-out 1.7s forwards;

    
}


.glow22{
  position: absolute;
  width:126vh;
  height: 72vh;
  bottom: 33px;

  border-radius: 50PX;
  z-index: -1;
  box-shadow: 0 0 30px 20px rgb(45, 45, 255);
  opacity: 0;
  animation: fadeUp2 1s ease-out 2.5s forwards;
}

@keyframes fadeUp2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.gg22{
     transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transform: rotate(0deg);
}


.gg22:hover {
    animation: navbar 1s linear forwards;
}

@keyframes navbar{
    0%{
        transform: rotate(40deg)
    }
    100%{
        transform: rotate(270deg)
    }
}

.btnget{
    position: absolute;
    top: 150px;
    height: 25px;
    width: 170px;
    background-image: linear-gradient(to right,#ffffff,#f5f5f5);
    font-size: 16px;
    color: rgb(0, 0, 0);
    border: 1px white solid;
    border-radius: 20px;
    box-shadow: 0 0 30px 5px rgb(133, 89, 255);
    animation: fadeUp2 1s ease-out 1s forwards;
    opacity: 0;
}

.icon2{
    margin-left: 10px;
    color: rgb(255, 0, 0);
}

.plans{
   
    width: 100%;
    height: 70vh;
}

.plans h1{
    color: white;
    display: flex;
    justify-content: center;
    
}

.plan-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}

.plan1{
    background-image: radial-gradient(circle, #00256b, #000000);
    border: 1px solid white;
    box-shadow: 0 0 30px 5px rgb(53, 39, 253);
    width: 400px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.plan1 h1 {
    background-image: linear-gradient(to right, rgb(4, 106, 202),rgb(165, 166, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% , 100%;
    animation: accc 2s linear infinite;
    text-shadow: 0 0 10px rgb(86, 97, 255);
}

.acc {
    padding: 20px;
    font-weight: 300;
    width: 100%;

}

.acc .acc1{
    background-image: linear-gradient(to right, rgb(255, 255, 255),rgb(9, 46, 212));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: accc 2s linear infinite;
}

.acc .acc2,.acc3,.acc4,.acc5{
    opacity: 0.5;
}

.plan1 h2{
    color: #1c1cca;
    text-shadow: 0 0 10px rgb(0, 68, 255);
    
}

.btnbuy1{
    height: 50px;
    width: 200px;
    border: 0.5px solid white;
    background-image: linear-gradient(to right, #020202,#001755);
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.mounth1{
    display: flex;
    gap: 20px;

    width: 100%;
    align-items: center;
    justify-content: center;
}

.mounth1 button{
    height: 30px;
    width: 100px;
   background-image: linear-gradient(to right, rgb(17, 17, 17), rgb(0, 175, 0));
   border: 1px solid white;
   border-radius: 5px;
   color: white;
}



.plan2{
    background-image: radial-gradient(circle, #29006b, #000000);
    border: 1px solid white;
    box-shadow: 0 0 30px 5px rgb(132, 39, 253);
    width: 400px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.acc {
    padding: 20px;
    font-weight: 300;
    width: 100%;

}

.plan2 h1{
    background-image: linear-gradient(to right, rgb(179, 4, 202),rgb(255, 165, 247));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% , 100%;
    animation: accc 2s linear infinite;
    text-shadow: 0 0 10px rgb(241, 86, 255);
}

.acc .acc11,.acc21,.acc31{
    background-image: linear-gradient(to right, rgb(202, 4, 202),rgb(234, 165, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% , 100%;
    animation: accc 2s linear infinite;
    text-shadow: 0 0 10px rgb(255, 86, 255);
}

@keyframes accc{
    0%{
        background-size: 0% , 0%;
    }
    100%{
        background-size: 300% , 100%;
    }
}

.acc .acc41,.acc51{
    opacity: 0.5;
}

.plan2 h2{
    color: #be26ec;
    text-shadow: 0 0 10px rgb(212, 0, 255);
    
}

.btnbuy2{
    height: 50px;
    width: 200px;
    border: 0.5px solid white;
    background-image: linear-gradient(to right, #020202,#a012ff);
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.mounth2{
    display: flex;
    gap: 20px;

    width: 100%;
    align-items: center;
    justify-content: center;
}



.plan3{
    background-image: radial-gradient(circle, #374100, #000000);
    border: 1px solid white;
    box-shadow: 0 0 30px 5px rgb(221, 253, 39);
    width: 400px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.acc {
    padding: 20px;
    font-weight: 300;
    width: 100%;

}

.plan3 h1{
    background-image: linear-gradient(to right, gold,rgb(255, 236, 127));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% , 100%;
    animation: accc 2s linear infinite;
    text-shadow: 0 0 10px gold;
}

.acc .acc111,.acc211,.acc311,.acc411,.acc511{
    background-image: linear-gradient(to right, rgb(215, 236, 20),rgb(241, 255, 160));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% , 100%;
    animation: accc 2s linear infinite;
    text-shadow: 0 0 10px rgb(255, 86, 255);
}

@keyframes accc{
    0%{
        background-size: 0% , 0%;
    }
    100%{
        background-size: 300% , 100%;
    }
}



.plan3 h2{
    color: #ecfa2e;
    text-shadow: 0 0 10px gold;
    
}

.btnbuy3{
    height: 50px;
    width: 200px;
    border: 0.5px solid white;
    background-image: linear-gradient(to right, #020202,#e7ff12);
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.mounth3{
    display: flex;
    gap: 20px;

    width: 100%;
    align-items: center;
    justify-content: center;
}
